/* Hiding the root elements prevents color flickering when the application starts. */
#root {
  display: none;
}

.application-fill {
  fill: #ffd502;
}

.background-fill {
  fill: fb-black;
}

#retrieving-tokens-connection-issue {
  display: none;
}

#clock-synchronization-message {
  display: none;
  pointer-events: none; /* paint above but still allow scrolling the list below */
}

.token-list-item {
  height: 90;
  display: none;
}

.token-list-item > text {
  text-anchor: middle;
  x: 50%;
}

.token-list-item > .totp {
  font-size: 42;
}

.token-list-item > .display-name {
  font-size: 21;
}

.token-list-item > .progress-background {
  fill: #704d00;
}

.token-list-item > .token-separator {
  fill: #704d00;
}

.token-list-item--large {
  height: 150;
}

.token-list-item--large > text {
  text-anchor: start;
  x: 20;
}

.token-list-item--large > .totp {
  font-size: 56;
}

.token-list-item--large > .display-name {
  font-size: 36;
}
