---
---

@import "minima";

h1,
h2,
h3,
h4,
h5,
h6 {
  &:target {
    border-top: 3px solid #ffd502;
    border-bottom: 2px solid #ffd502;
  }
}

.site-header {
  border-top: none;
}

.footnotes {
  border-top: 1px solid black;
  margin-top: 1.5em;
  padding-top: 0.5em;
}

.bmc-btn {
  padding: 0px !important;
}

code.language-mermaid {
  background-color: transparent;
}
pre:has(> code.language-mermaid) {
  background-color: transparent;
}
/* This is a fallback for browsers not supporting `:has` where the background of the surrounding `pre` can't be cleared */
code > svg[id^="mermaid-"] {
  background-color: white;
}
/* Undo the fallback for browsers supporting `:has` */
pre:has(> code.language-mermaid) > code > svg[id^="mermaid-"] {
  background-color: transparent;
}
